{% extends '@templates/base.html.twig' %}

{% block title %}Le Donut
{% endblock title %}



{% block content %}
 <div id="direction" style="background-image: url('assets/images/gateau2.jpeg')">
        <h1>Votre route vers le bonheur</h1>
 </div>

    <section id="histoire">
        <h2> Notre histoire </h2>
        <div class="container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos 
sapiente officiis modi at sunt excepturi expedita sint? Sed quibusdam
recusandae alias error harum maxime adipisci amet laborum. Perspiciatis 
minima nesciunt dolorem! Officiis iure rerum voluptates a cumque velit 
quibusdam sed amet tempora. Sit laborum ab, eius fugit doloribus tenetur 
fugiat, temporibus enim commodi iusto libero magni deleniti quod quam 
consequuntur! Commodi minima excepturi repudiandae velit hic maxime
doloremque. Quaerat provident commodi consectetur veniam similique ad 
earum omnis ipsum saepe, voluptas, hic voluptates pariatur est explicabo 
fugiat, dolorum eligendi quam cupiditate excepturi mollitia maiores labore 
suscipit quas? Nulla, placeat. Voluptatem quaerat non architecto ab laudantium
modi minima sunt esse temporibus sint culpa, recusandae aliquam numquam 
totam ratione voluptas quod exercitationem fuga. Possimus quis earum veniam 
quasi aliquam eligendi, placeat qui corporis!></p>
   </div>
    </section>
       {% include '@templates/product.html.twig' %}
      {% include '@templates/achat.html.twig' %}
    <section id="find-us">
     <div class="container">
        <h2>Rendez-nous visite</h2>
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d88474.47901180417!2d3.407397264239164!3d46.134266522296755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f6cceb1c232a9b%3A0xf41cc6f6ca40615a!2s03300%20Cusset!5e0!3m2!1sfr!2sfr!4v1621513095393!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
     </div>
    </section>
{% endblock content %}

