<section id="products">
        <div class="container">
        <h2>Voulez-vous un de nos desserts dans votre assiette?</h2>
            <div class="row row-cols-1 row-cols-sm-2">
                <div class="col">
                    <div class="wrapper">
                        <img src="{{asset('assets/images/fondant.jpeg')}}" alt="" class="img-fluid">
                        <div class="layout">
                            <div>
                                <h3>Fondant au chocolat</h3>
                            </div>
                            <a href="#"><img src="{{asset('assets/images/money.jpg')}}" style="width:40px; height: 40px;" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="wrapper">
                        <img src="{{asset('assets/images/muffin.jpeg')}}" alt="" class="img-fluid">
                        <div class="layout">
                            <div>
                                <h3>Muffin</h3>
                            </div>
                            <a href="#"><img src="{{asset('assets/images/money.jpg')}}" style="width:40px; height: 40px;" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="wrapper">
                        <img src="{{asset('assets/images/piece.jpeg')}}" alt="" class="img-fluid">
                        <div class="layout">
                            <div>
                                <h3>Pièce montée</h3>
                            </div>
                            <a href="#"><img src="{{asset('assets/images/money.jpg')}}" style="width:40px; height: 40px;" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="wrapper">
                        <img src="{{asset('assets/images/tarte au citron.jpeg')}}" alt="" class="img-fluid">
                        <div class="layout">
                            <div>
                                <h3>Tarte au citron</h3>
                            </div>
                            <a href="#"><img src="{{asset('assets/images/money.jpg')}}" style="width:40px; height: 40px;" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="wrapper">
                        <img src="{{asset('assets/images/gateau3.jpeg')}}" alt="" class="img-fluid">
                        <div class="layout">
                            <div>
                                <h3>Cupcakes</h3>
                            </div>
                            <a href="#"><img src="{{asset('assets/images/money.jpg')}}" style="width:40px; height: 40px;" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="wrapper">
                        <img src="{{asset('assets/images/gateau4.jpeg')}}" alt="" class="img-fluid">
                        <div class="layout">
                            <div>
                                <h3>Moelleux au chocolat</h3>
                            </div>
                            <a href="#"><img src="{{asset('assets/images/money.jpg')}}" style="width:40px; height: 40px;" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>