<footer>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-4"><img src="assets/images/donutswhite.png" class="img-fluid logo"></div>
                <div class="col-md-2 col-sm-4">
                    <b>Nos produits</b>
                    <ul>
                        <li><a href="#">Muffin</a></li>
                        <li><a href="#">Tarte au citron </a></li>
                        <li><a href="#">Fondant au chocolat</a></li>
                        <li><a href="#">Moelleux au caramel</a></li>
                        <li><a href="#">Pièce montée</a></li>
                        <li><a href="#">Coffrets</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-4">
                    <b>Informations</b>
                    <ul>
                        <li><a href="#">Livraison</a></li>
                        <li><a href="#">Notre histoire</a></li>
                        <li><a href="#">Contactez-nous</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-6">
                    <p><b>Le Donuts Cusset</b>
                       0 Rue des miam , Cusset - FRANCE<br>
                        Tél : <a href="tel:0900000001">+33 (0)9 00 00 00 01</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>