 <section id="produits">
        <div class="container">
        <h2>Un aperçu de nos pâtisserie</h2>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="{{asset('assets/images/gateau4.jpeg')}}" alt="" class="img-fluid">
                      <img src="{{asset('assets/images/gateau3.jpeg')}}" alt="" class="img-fluid">
                      <img src="{{asset('assets/images/gateau9.jpeg')}}" alt="" class="img-fluid">
                       
                    </div>
                    <div class="carousel-item">
                      <img src="{{asset('assets/images/fondant au chocolta.jpeg')}}" alt="" class="img-fluid">
                      <img src="{{asset('assets/images/gateau7.jpeg')}}" alt="" class="img-fluid">
                      <img src="{{asset('assets/images/gateau9.jpeg')}}" alt="" class="img-fluid">
                    </div>
                    <div class="carousel-item">
                    <img src="{{asset('assets/images/muffin2.jpeg')}}" alt="" class="img-fluid">
                    <img src="{{asset('assets/images/muffin2.jpeg')}}" alt="" class="img-fluid">
                    <img src="{{asset('assets/images/gateau3.jpeg')}}" alt="" class="img-fluid">
                    </div>
                </div>
              
            </div>
        </div>

    </section>